@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
    font-family:  sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: none;
  }
  
  
  body{
    
    min-height: 250vh;
    
  }
  .bg-container{
    background-color: #fff;

  }
  ::placeholder{
    font-size: 1.8rem;
    
    color: grey;
  }
  .logo-image{
    width: 80px;
    height: 50px;
    margin-left: 20px;
  }

  
 
 
  input:hover{
    background: white;
    border: 2px solid black;
    color: black;
  }

  

  
  
  
 .headerLink:hover {
    background: #333;
    
    color: rgb(218, 244, 218);
    letter-spacing: .1rem;
  }
  
  .search-submit{
    margin-left: 3rem;
    
  }
  .main-container{
    background-image: url(../assests/image/travel-and-transportation-banner1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
  
  }
  .serviceHeading{
    padding: 30px;
    margin-top: 25px;
    
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
.service-heading p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    color:  rgb(137, 132, 132)#333;
    
    
}
  .contact-heading{
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
  
  .services-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
  }
  .service-details{
    height: 330px;
    width: 300px;
    background-color: #d5d1d1;
    box-shadow: #9d9a9a;
    margin: 18px;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px #444547;
  }
  .service-details h1{
    font-size: 25px;
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
  }
.service-details p{
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}
.section-image{
    background-image: url(../Assets/image/tv-cabinet-modern-living-room-concrete-wall-3d-rendering_41470-2911.avif);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    min-height: 80vh;
    
  }

 

.extra{
    background-color: white;
    margin: 100px;
    min-height: 200px;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 50px;

    position: relative;
    box-shadow: 0 0 20px #444547;
}
.image2 h1{
    color: black;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 550;
}
.image2 p{
    color: black;
}
.bg-layer {
    background-color: rgba(18, 8, 8, 0.7);
    /* Fallback color */
    background: rgba(0,0,0,0.7);
    color: #fff;
    width: 100%;
    min-height: 80vh;
    
    z-index: 1;

}

.servic-image{
    width: 80px;
    height: 80px;
   
}
.serviceLogo-image{
    text-align: center;
    margin-top: 10px;
}

.section-container{
  
    padding: 30px;
    text-align: left;
    color: white;
    margin-left: 20px;

}
.section-heading{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
}
.section-description{
    font-size: 20px;
    margin-bottom: 22px;
    font-style: oblique;
    color: #ada9a9;
    
}
.section-btn{
    width: 130px;
    height: 42px;
    color: white;
    background-color: #0b7dda;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    border: 4px #0b7dda solid;

}
.section-btn:hover{
    background-color: transparent;
    color: white;
    font-weight: bold;
    height: 45px;
    width: 140px;
}

.basuhin{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 30px;
  }
.section-box{
    height: 200px;
    width: 200px;
    background-color: #c8c3c3;
    margin-left: 300px;
    border-radius: 15px;
    padding: 15px;
    outline: .1rem solid #ccc;
    outline-offset: 1.5rem;
}
.font-phone:hover{
    color: #e51519;
    transition: all 1s ease;
    
}
.icon-design{
    border-radius: 20%;
    color: #0b7dda;
}
.section-box h3{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}
.section-box h6{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px
}
.logistic-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logistic-details{
  height: 180px;
  width: 320px;
  background-color: #d9394c;
  box-shadow: #9d9a9a;
  margin: 18px;
  padding: 15px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px #444547;
}
.logistic-details h4{
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.logistic-details p{
  font-size: 17px;
font-style: oblique;
  color: #fff;
  text-align: center;
}
.core{
    min-height: 450px;
    width: 350px;
    margin: 18px;
    margin-left: 28px;
   
}
.core:hover{
    background-color: #1e2e4e;
    color: #c8d3eb;
}
.core-image{
    width: 180px;
    height: 180px;
    border-radius: 16px;
}
.image{
    text-align: center;
}

.features-heading{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top:36px;
    margin-bottom: 20px;
}
.google-map {
   
    position: relative;
}

.google-map iframe {
    height: 100%;
   padding: 20px;
    margin-left: 20px;
   width: 100%;
 
}

.check{
    min-height: 80px;
    padding: 20px;
    
}
.query-info{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #919090;
    margin-right: 20px;
    border-radius: 15px;
    transition: all 1s ease;
  }
  
  
  .form-details{
    width: 100%;
    background-color: #d5d1d1;
    box-shadow: 0 0 20px #444547;
    height: 45px;
    border-radius: 10px;
  }
  .form-textarea{
    height: 160px;
    background-color: #444547;
    box-shadow: 0 0 20px #444547;
  }
  .form-heading{
    color: black;
    font-size: 22px;
    font-weight: 550;
    margin-top: 20px;
  
  }
  ::placeholder{
    color: #616161;
    font-size: 18px;
    padding: 10px;
  }
  .send-msg{
    width: 200px;
    height: 55px;
    border: 2px solid #626865;
    margin-left: 16px;
    padding: 8px;
    border-radius: 23px;
    background-color: #089bf7;
    color: white;
    box-shadow: 0 0 20px #1e2e4e;
    font-size: 22px;
    
  }
  .send-msg:hover{
    cursor: pointer;
    background-color: transparent;
    color: #f4080c;
  }

  .footer{
    background: #424242;
    min-height: 13rem;
    padding: 20px;
    
  }
  
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
    color: white;
    
  }
  .footer-para{
    color: white;
    padding: 20px;
  }
  
  .footer-paragrapgh{
    color: rgb(95, 139, 242);
    font-size: 25px;
    text-align: left;
    margin-bottom: 25px;
    
    
    
  }
  .footer-paragrapgh:hover{
    color: #cc3c3e;
    font-size: 30px;
    letter-spacing: 3px;
  }
.usefulLink{
    color: #eee;
}


  .follow{
    margin-bottom: 30px;
    top: 0;
  }
  
  .icon i:hover{
    background: transparent;
    color: #0b7dda;
  }
  
  .icon{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    align-content: center;
    margin: 8px;
    padding: 10px;
   margin-right: 40px;
   
  }
  
  .icon i {
    background: white;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: 5rem;
    text-align: center;
    color: #333;
    margin-left: 1rem;
    transition: .2s linear;
  }
  
 .crousel-background{
    background-color: #fff;
    height: 90vh;
 }

 

.box-area {
    padding: 30px;
    position: relative;
    display: block;
    background: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
   
    transition: .2s linear;
}

.box-area h5 {
    font-size: 16px;
    font-weight: 700;
    color: #0a69ed;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

.box-area span {
    color: #262626;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 400;
}

.box-area .content {
    color: #262626;
}


.socials {
    margin-top: 10px;
}

.socials i {
    letter-spacing: -30px;
    color: yellow;
    font-size: 15px;
   
}
.product-image{
    width: 280px;
    height: 200px;
    outline: .1rem solid #ccc;
    outline-offset: 1.5rem;
    padding: 3rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0 0 0 .1);
    cursor: pointer;
   
    text-align: center;
    
}

.book1:hover {
    outline: .2rem solid rgb(138, 96, 96);
    outline-offset: 0;
}


#testimonial_area .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

#testimonial_area .owl-prev,
#testimonial_area .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #0a69ed;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
}

#testimonial_area .owl-prev {
    left: -60px;
    top: -30px;
}

#testimonial_area .owl-next {
    right: -60px;
    top: -30px;
}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-slide{
    width: 250px;
    height: 350px;
    background-color: grey;
    padding: 20px;
}
.socials {
    margin-top: 30px;
}
.socials i {
    margin: 0 10px;
    color: #0a69ed;
    font-size: 18px;
}
.image-size{
    width: 200px;
    height: 200px;
    
}
.image-slide h1{
    font-size: 18px;
}

.best-container{
  height: 420px;
 
 margin-bottom: 80px;
  padding: 2rem ;
  
  
}
.best-container1{
  height: 420px;
 
  padding: 2rem ;
  
}


.product-title{
  font-size: 3rem;
  color: #cb3737;
 text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.product-title1{
    font-size: 3rem;
  color: #0548f3;
 text-align: center;
 
  font-weight: bold;
  text-decoration: underline;
}

.best-seller-container{
  
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

}

.best-seller-container .book{
  text-align: center;
  height: 330px;
  width: 270px;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0 0 0 .1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;

}
.best-seller-container .book:hover{
  outline: 2px solid rgb(241, 24, 24);
  outline-offset: 0;
}
.best-seller-container .book:hover img{
  transform: scale(.9);
}

.best-seller-image{
  height: 180px;
  width: 170px;
  
}
.best-seller-container h3{
  font-size: 1.1rem;
  padding: .5rem 0;
 color: #222;
 text-transform: uppercase;
}
h3:hover{
  color: #a00505;
}
.box-area1{
    padding: 50px;
    position: relative;
   
   height: 45vh;
   width: 490px;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
    text-align: left;
    
    background-size: cover;
    
margin-left: 20px;
}
.box-area11{
  background-image: url(../Assets/image/s1.webp);
  background-size: cover;
}
.box-area2{
    background-image: url(../Assets/image/s3.webp);
    background-size: cover;
}
.box-area3{
    background-image: url(../Assets/image/s2.webp);
    background-size: cover;
}
.box-area4{
    background-image: url(../Assets/image/slide-img2.jpg);
    background-size: cover;
}
.box-area5{
  background-image: url(../Assets/image/cms-banner-5.webp);
  background-size: cover;
}
.box-area6{
  background-image: url(../Assets/image/hp-1-map-1.jpg);
  background-size: cover;
}
.image-area{
    background-image: url(../Assets/image/Unsplash.jpeg);
    height: 40vh;
}


.testing{
  width: 100%;
  height: 40vh;
  background-color: #2f4c86;
  margin-top: 100px;
}
.testing-project{
  display: flex;
  justify-content: space-around;
  align-items: centers;
  text-align: center;
  color: white;
}

.testing1{

    padding: 56px 48px;
    background-image: url(https://cdn.shopify.com/s/files/1/0042/0750/9567/files/10_caf6ff67-7343-426b-9fdb-b61dd702f87a.jpg?v=1623059274);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 70px;
    height: 50vh;

}
.text-align{
  margin-right: 30px;
margin-top: 20px;
}
.text-align h1{
  font-size: 36px;
    line-height: 50px;
    margin-bottom: 10px;
    font-weight: bold;

}
.text-align p{
  color: #333;
}
.amount-align span{
  font-size: 18px;
    color: #777;
    text-decoration: line-through;
    margin-bottom: 15px;
    display: block;
}
.amount-align h3{
  color: #e02b2b;
  font-size: 30px;
  margin-bottom: 25px;
}
.btn-shop{
  background-color: #000;
    border-color: #333;
    color: #fff;
    border-radius: 18px;
    border: 1px solid transparent;
   height: 40px;
   width: 110px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    outline: none;
    transition: all .2s;
    padding: 0.625rem 1.25rem;
    text-align: center;
   
}

.amount-align{
  margin-left: 160px;
  margin-top: 40px;
}

.offer-alignment{
    display: flex;
    flex-direction: row;
   
   
}
.offer{
    
    font-style: italic;
    color: #f70808;
    font-weight: bold;
   
}
.offer3{
    padding-bottom: 20px; 
    padding-bottom: 30px;
}
.launch-date{
display: flex;
flex-direction: row;

}
.launch-date div{
    margin-top: 10%;
    align-items: center;
    padding: 20px;
}
.launch-date p{
    font-size: 70px;
    
}


.corCheck{
  background-image: url(../Assets/image/cor1.webp);
 
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px;
  height: 70vh;
  width: 100%;
}
.corCheck2{
  background-image: url(../Assets/image/cor4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  padding: 80px;

}
.corCheck2 h2{
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 15px;
}

.corCheck4{
  background-image: url(../Assets/image/cor3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  padding: 80px;
  width: 100%;
}
.corCheck4 h2{
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 15px;
}
.slide__block-subtitle {
  color: #e02b2b;
  font-weight: 600;
}
.container{
  display: flex;
  flex-direction: column;

}
.summer-image{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  position: relative;
  margin-bottom: 12px;
}
.summer-image1{
  height: 300px;
  width: 350px;
  position: relative;
  margin-bottom: 12px;
}
.summer-sale-box{
  margin-left: 150px;
}
.inner-carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.summer-head{
  background-color: white;
  width: 120px;
  height: 30px;
  margin-left: 60px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  
}
.inner-car1{
  display: flex;
  flex-direction: row;

}
.offer-heading{
  font-weight: 550;
  font-size: 35px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.offer-heading2{
  font-weight: 700;
  font-size: 66px;
  line-height: 80px;
  margin-top: 15px;
  color: #0b7dda;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

}
.text-base{
  text-align: left;
  font-size: 20px;
}


.container1{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-image{
  width: 70;
  height: 60px;
 
}
.navbar-image1{
  width: 30px;
  height: 30px;
  
}
.btn{
  border: 1px solid red;
}
.logo-design{
  color: red;
  font-size: 20px;

  border-radius: 50%;
}
.navbar-logo-heading{
  color: red;
}
.nav-title{
  color: white;
  font-size: 17px;
}
.nav-title:hover{
  transition: all .7s ease-in;
  border-radius: 16px;
  
}
.navbar{
  height: 70px;
}

.div-container{
  margin: 140px;
}
